$nhstrust-primary: #04709b;

.form-styled {

  .row {
    margin: 0;
  }

  .form-control {
    border-radius: 0;
    font-size: 16px;
    font-size: 1.6rem;
    width: 100%;
    max-width: 100%;
    float: left;
    padding: 8px 15px;
    border: none;
    border: 2px solid #dedede;
    background: #fff;
    transition: none;
    height: auto;
  }

  .form-group {
    width: 100%;
    float: left;
    margin: 0 0 10px;
    position: relative;
    padding-top: 14px;
  }

  .form-group label {
    font-size: 18px;
    font-size: 1.8rem;
    position: relative;
    color: #161616;
    float: left;
    width: 100%;
  }

  .form-group input,
  .form-styled .form-group textarea,
  .form-styled .form-group select {
    font-size: 16px;
    font-size: 1.6rem;
    width: 100%;
    max-width: 100%;
    float: left;
    padding: 8px 15px;
    border: none;
    border: 2px solid #dedede;
    background: #fff;
    outline: none;
    margin-bottom: 5px;
    box-shadow: none !important;
    &:focus {
      border-color: $nhstrust-primary;
    }
  }

  .form-control{
    box-shadow: none !important;
  }

  .form-control:focus {
    border-color: $nhstrust-primary;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


  .has-error .form-control {
    border-color: #a94442 !important;
  }

  .has-success .form-control {
    border-color: #dedede !important;
    &:focus {
      border-color: $nhstrust-primary !important;
    }
  }



}
