.video-overlay__play .video-icon--play-1:before {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.video-icon--volume-up:before,
.video-icon--resize-full:before,
.video-icon--play-1:before {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.table-formats {
  margin-top: 15px;
  .label-metadata {
    padding: .2em .6em .3em;
    color: #fff;
  }
}
