.panel-myApps {
  display: block;
  overflow: hidden;
  padding: 0.5em 0;
  width: 300px;
  height: auto;
}

.panel-myApps ul {
  padding: 0;
  margin: 0 -5px;
  list-style-type: none;
}

.app {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding: 0 5px;
}

.panel-myApps .app a {
  margin: 0;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.app-list-page {
  ul {
    list-style: none;
  }
  li{
    text-align: center;
    width: 16.66% !important;
    margin-bottom: 15px;
  }

  li a img {
    width: 150px;
  }


}
