//working hours
$first-hour: 8;
$last-hour: 16;

$num-of-hours: $last-hour - $first-hour + 1;

//calendar rooms column width and grid width
$rooms-col-width: 20%;
$cal-grid-col-width: 100% - $rooms-col-width;

//calendar grid width
$hour-col-width: 100% / $num-of-hours;
$quarter-col-width: 100% / 4;

//calendar row height
$cal-time-row-hight: 80px;
$cal-row-height: 100px;

//colours
$room-label-time-row-cell-colour: #006f9e;
$room-label-cell-colour: #004b6b;
$room-label-cell-separator-colour: #006b8f;
$room-label-text-colour: #eee;
$time-row-text-colour: #0085be;
$time-label-cell-colour: #f2fbff;
$time-label-cell-separator: #73b0ca;
$time-label-quarter-separator: #ccc;
$time-label-thirty-separator: #999;
$time-label-bottom-separator: #999;
$hour-cell-colour: #fff;
$hour-cell-separator-colour: #ccc;
$labels-colour: #006f9e;
$booking-block-colour-approved: #aad5e6;
$booking-block-colour: #e4f2fc;
$booking-block-border-colour: #24627a;
$avail-bar-container-colour: #ddd;
$avail-bar-colour: #0fb34a;
$avail-bar-colour-low: #ff9800;
$avail-bar-colour-very-low: #ee2f3f;
$cell-today-colour: #e9f9ec;
$highlight-colour: #f2fbff;

$out-of-service-overlay-colour: rgba(92, 92, 92, 0.5);

$holidays-highlight-date-cell-colour: #fff6bf;
$holidays-highlight-colour: #fffad9;
$holidays-highlight-color-hover: #fff6bf;
$holidays-label-colour: #f89000;
$weekends-highlight-date-cell-colour: #fff6bf;
$weekends-highlight-colour: #fffad9;
$weekends-highlight-color-hover: #fff6bf;
