@import "roombooker_vars";

/*********************************
 *    Global component layout    *
 *********************************/

.rb-component-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.rb-rooms-location-selector {
	width: 100%;
}

.rb-cal-container {
	width: 100%;
	padding: 10px;
}

.clear {
	clear: both;
}


/*********************************
 *      RoomLocationSelector     *
 *********************************/

.rb-rooms-location-selector {
	width: 100%;
	padding: 10px;
	clear: both;
}

.rb-location-dropdown, .rb-city-location-dropdown {
	max-width: 200px;
	float: left;
	margin-right: 10px;
	font-size: 12px;
}


/*********************************
 *       CalViewSelectorBar      *
 *********************************/

.rb-cal-view-selector-bar {
	width: 100%;
	padding: 10px;

	button {
		margin: 0 2px;

		&:first-child {
			margin-left: 0;
			margin-right: 15px;
		}

		&.day {
			margin-right: 0;
		}
	}
}

.rb-selected-date {
	font-size: 16px;
	color: $labels-colour;
	padding-left: 15px;
	vertical-align: middle;
}


/*********************************
 *            Calendar           *
 *********************************/
.rb-cal-grid-container {
	width: $cal-grid-col-width;
	float: left;

	&.month-view {
		width: 100%;
	}
}

.rb-cal-row, .rb-cal-time-row {
	position: relative;
	width: 100%;
	height: $cal-row-height;
	clear: both;
}

.rb-cal-time-row {
	height: $cal-time-row-hight;
}

.rb-rooms-col {
	width: $rooms-col-width;
	float: left;
}

.rb-cal-grid {
	position: relative;
	width: $cal-grid-col-width;
}

.room-label-time-row-cell {
	width: 100%;
	height: $cal-time-row-hight;
	background-color: $room-label-time-row-cell-colour;
}

//component: RoomLabel
.room-label {
	display: block;
	width: 100%;
	height: $cal-row-height;
	background-color: $room-label-cell-colour;
	border-bottom: 1px solid $room-label-cell-separator-colour;
	padding: 10px;

	&:hover {
		text-decoration: none;
	}

	&:last-child {
		border-bottom: none;
	}

	p {
		color: $room-label-text-colour;
	}

	.room-label-name {
		display: block;
		font-size: 14px;
		margin-bottom: 5px;
	}

	.room-label-capacity {
		display: block;
		font-size: 12px;
	}
}

//component: HourColumn
.hour-col {
	width: $hour-col-width;
	float: left;
	border-right: 1px solid $time-label-cell-separator;
	border-top: 1px solid $time-label-cell-separator;

	&.last {
		border-right: none;
	}
}

.time-label-cell {
	position: relative;
	width: $hour-col-width;
	float: left;
	height: $cal-time-row-hight;
	background-color: $time-label-cell-colour;
	border-bottom: 1px solid $time-label-bottom-separator;
	border-right: 1px solid $time-label-cell-separator;
}

.time-hour-label {
	display: block;
	font-size: 30px;
	color: $time-row-text-colour;
	padding-left: 5px;
	font-weight: 100;
	margin-bottom: 10px;
}

.time-quarter-label {
	position: absolute;
	display: block;
	width: 25%;
	bottom: 0;
	font-size: 12px;
	color: $time-row-text-colour;
	padding-left: 3px;
	float: left;
	border-right: 1px solid $time-label-quarter-separator;
	height: 20px;
	margin: 0;

	&.zero {
		left: 0;
	}

	&.fifteen {
		left: 25%;
		border-right-color: $time-label-thirty-separator;
	}

	&.thirty {
		left: 50%;
	}

	&.fourtyfive {
		left: 75%;
	}

	&:last-child {
		border-right: none;
	}
}

.hour-cell {
	width: $hour-col-width;
	height: $cal-row-height;
	background-color: $hour-cell-colour;
	border-bottom: 1px solid $hour-cell-separator-colour;
	border-right: 1px solid $room-label-cell-separator-colour;
	float: left;
}

.hour-quarter {
	display: block;
	float: left;
	width: 25%;
	height: $cal-row-height;
	border-right: 1px solid $time-label-quarter-separator;
  cursor: pointer;

  &:hover {
    background-color: $highlight-colour;
    border-bottom: 1px solid $hour-cell-separator-colour;
  }

	&.past {
		background-image: url(../../img/past_cell_bg.png);
    cursor: default;

    &:hover {
      background-color: transparent;
      border-bottom: none;
    }
	}

	&:nth-child(2) {
		border-right-color: $time-label-thirty-separator;
	}

	&:nth-child(4) {
		border-right: none;
	}
}

@for $i from 1 through 12 {
	.hours-#{$i} {
		width: 100% / $i;
	}
}

//booking block
.rb-booking-block {
	position: absolute;
	width: 150px;
	top: 0;
	left: 0;
	height: $cal-row-height - 10px;
	margin-top: 5px;
	background: url("../../img/booking_block_bg.png") top left $booking-block-colour;
	overflow: hidden;
	color: #333;

	.rb-bb-inner {
		width: 100%;
		height: 100%;
		//border: 1px solid $booking-block-border-colour;
		padding: 5px;
	}

	&.Approved {
		background-color: $booking-block-colour-approved;
		background-image: none;
	}

	span {
		display: block;
		overflow: hidden;
		width: 100%;
		text-overflow: ellipsis;
		font-size: 12px;

		&.rb-booking-name {
			font-size: 14px;
		}

		&.rb-booking-hours {
			color: #666;
			padding-top: 5px;
		}
	}

	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}


/*********************************
 *          Room Details         *
 *********************************/

.room-details-carousel-photo {
	width: 100%;
}


/*********************************
 *             weekView          *
 *********************************/

.room-booker .calendar {
	.cal-row {
		height: $cal-time-row-hight;

		&.header-row {
			border-top: 1px solid #dedede;

			.cell:nth-child(7) {
				border-right: 1px solid #dedede;
			}

			.cell {
				height: $cal-time-row-hight;

				&.month-view {
					padding-top: 50px;
				}

				&:first-child {
					border-left: 1px solid #dedede;
				}

				&.today:hover {
					background-color: $cell-today-colour;
				}

        &.holiday-highlight, &.holiday-highlight:hover {
          background-color: $holidays-highlight-date-cell-colour;
        }

        &.weekend-highlight, &.weekend-highlight:hover {
          background-color: $weekends-highlight-date-cell-colour;
        }
			}
		}

		&.item {
			height: $cal-row-height;
			border-top: 1px solid #dedede;

			&:last-child {
				border-bottom: 1px solid #dedede;
			}

			.cell {
				position: relative;
				padding: 10px;
				font-size: 12px;
				cursor: pointer;
			}
		}
	}

	.cell {
		height: $cal-row-height;
		background-color: #fff;

		&.past {
			background-image: url(../../img/past_cell_bg.png);
			.rb-percent-bar-container {
				display: none;
			}
		}

		&.today {
			background-color: $cell-today-colour;
		}

    &.holiday-highlight {
      background-color: $holidays-highlight-colour;
    }

    &.weekend-highlight {
      background-color: $weekends-highlight-colour;
    }

		&:hover {
			background-color: $highlight-colour;
		}

    &.holiday-highlight:hover {
      background-color: $holidays-highlight-color-hover;
    }

    &.weekend-highlight:hover {
      background-color: $weekends-highlight-color-hover;
    }



		&:first-child {
			border-left: none;
		}

		&.month-view.item {
			position: relative;
			padding: 10px;
			border-bottom: 1px solid #dedede;
			cursor: pointer;


			.corner-date {
				color: #EE2F3F;
			}

			&.outside {
				//background-color: #eee;

				.corner-date {
					color: #666;
				}
			}

			&.past {
				.corner-date {
					color: #BBB;
				}
			}

			&.today {
				.corner-date {
					width: 25px;
					height: 25px;
					border-radius: 50%;
					color: #fff;
					font-weight: bold;
					text-align: center;
					background-color: #EE2F3F;
					line-height: 26px;
				}
			}

			&.outside:hover, &:hover {
				background-color: $highlight-colour;
			}

      &.holiday-highlight:hover {
        background-color: $holidays-highlight-color-hover;
      }

      &.weekend-highlight:hover {
        background-color: $weekends-highlight-color-hover;
      }

			&:nth-child(7n + 1) {
				border-left: 1px solid #dedede
			}
		}

		&:last-child {
			border-right: 1px solid #dedede;
		}

		&.day.month-view {
			border-bottom: 1px solid #dedede
		}

		&.day {
			.month-view {
				height: $cal-time-row-hight;
				padding-top: 50px;

				&:first-child {
					border-left: 1px solid #dedede;
				}
			}
		}
	}

	.rb-avail-bar-container {
		position: relative;
		width: 100%;
		height: 7px;
		background-color: $avail-bar-container-colour;
		border-radius: 5px;
		overflow: hidden;
	}

	.rb-avail-bar {
		position: absolute;
		display: block;
		width: 0%;
		height: 100%;
		background-color: $avail-bar-colour;

		&.amber {
			background-color: $avail-bar-colour-low
		}

		&.red {
			background-color: $avail-bar-colour-very-low
		}
	}

	.rb-avail-label, .corner-date {
		display: block;
		width: 100%;
		clear: both;
	}

	.rb-avail-label {
		font-size: 12px;
	}

	.rb-percent-bar-container {
		position: absolute;
		padding: 10px;
		width: 100%;
		left: 0;
		bottom: 0;
	}
}

.rb-booking-details-actions {
  a {
    margin-left: 3px;
  }
}

.rb-reporting-bookings-list {
	display: block;

  .panel-title {
    display: inline-block;
    float: left;
  }

  .rb-pagination {
    display: inline-block;
    float: right;
    font-weight: bold;

    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: #fff;
      color: #04709b;
      font-size: 18px;
      text-align: center;
      margin: 0 10px;
      border-radius: 50%;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

#page-body .panel .panel-heading .badge {
	background: #fff;
	color: #337ab7;
}

.rb-listing-detail {
  display: block;
}

.rb-cancellation-date-separator {
  border-top-width: 1px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rb-reporting-dropdown {
  height: 42px !important;
}


.rb-admin {
  #page-body .panel.panel-list .panel-body ul li a:hover {
    background-color: transparent;
  }
}

.out-of-service-overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $out-of-service-overlay-colour;
}


.rb-chk-button {
    display: inline-block;
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;

    label {
      margin: 0;
    }
}

.rb-chk-button:hover {
    background: #ccc;
}

.rb-chk-button label span {
    text-align: center;
    display: block;
    padding: 5px;
}

.rb-chk-button label input {
    position: absolute;
    top:-20px;
}

.rb-chk-button input:checked + span {
    background-color: #04709b;
    color: #fff;
}

#page-body .panel.panel-block {
   a, div {
      padding: 40px 0;
      min-height: 200px;
      display: inline-block;
      text-decoration: none;
      width: 100%;
  }
}

#page-body .panel.panel-block span {
    font-size: 6rem;
}

#page-body .panel.panel-block {
    text-align: center;
}

.disabled {
  opacity: 0.5;
}

.rb-room-details-form {
  select {
    height: 42px;
  }
}

.rb-equipment-list {
  padding-left: 18px;
}

.is-holiday {
  display: inline-block;
  color: #fff;
  background-color: $holidays-label-colour;
  padding: 3px 8px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

.holiday-highlight {
  background-color: $holidays-highlight-colour;
}

.weekend-highlight {
  background-color: $weekends-highlight-colour;
}

.holiday-label {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 10px;
  color: #fff;
  background-color: $holidays-label-colour;
  padding: 3px 5px;
  max-width: 60%;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.month-view .holiday-label {
  top: 10px;
}

.print-show {
  display: none;
}

.print-hide {
  display: block;
}

.rb-room-details-print {
  padding-right: 30px;
}

// styling for print
@media print {
  #sidebar-menu {
    display: none;
  }

  #main-page {
    margin-left: 0;
  }

  .top-bar {
    height: 60px;
  }

  header {
    padding-top: 20px;

    div {
      display: none;

      &:first-child {
        display: block;
        width: 200px;
      }
    }
    a[href]:after {
      display: none;
    }
  }

  #page-title {
    padding: 5px 30px;


    a {
      display: none;
    }
  }

  #page-body {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;

    .panel {
      margin-bottom: 20px;
    }
  }

  #directions-link {
    display: none;
  }

  footer {
    position: relative;

    ul {
      display: none;
    }
  }

  .gm-style-cc {
    display: none;
  }

  #rb-room-details-carousel {
    display: none;
  }

  .label {
    border: none;
  }

  .btn {
    display: none;
  }

  h1 {
    font-size: 24px;
  }

  #room_canvas {
    max-height: 150px;
  }

  .print-hide {
    display: none;
  }

  .print-show {
    display: block;
  }
}
