#quickupload .modal-body .quick-dropzone {
  overflow-y: auto;
}

#quickupload .modal-body #previews .file-row .buttons .btn {
  margin-top: -1px;
  font-size: 14px;
}

#quickupload .modal-body .quick-dropzone.dz-started .dz-message.isVisible {
  display: block;
}
