/** STICKY FOOTER FIX **/
#main-page {
  position: relative;
  background: #ebf1f5;
}

#page-body {
  border-bottom: none;
  margin-bottom: 88px;
}

.top-bar, #page-title{
  background: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 88px;
  border-top: 1px solid #BFDAE5;
}
