.input-group.pathSelect {
  position: relative;
  .form-control[disabled] {
    background: #fff;
  }
  .label-path {
    width: 95%;
    position: absolute;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    top: 33px;
    z-index: 100;
    left: 10px;
    font-size: 16px;
    padding: 0px 5px;
    line-height: 20px;
    border-radius: 0;
    >div{
      text-align: left;
    }
  }
}
