.bulk-actions-toolbar {
  .blue-btn {
    behavior: none;
    font-size: 16px;
    font-size: 1.6rem;
    -webkit-transition: all ease-in-out 0.07s;
    -o-transition: all ease-in-out 0.07s;
    transition: all ease-in-out 0.07s;
    background: #04709b;
    color: #fff;
    border: none;
    padding: 8px 15px 9px;
    margin-right: 10px;
  }
  .blue-btn:disabled:hover {
         background: #04709b;
  }
  .blue-btn:active:focus{
    background: rgb(0, 119, 167);
    color: #fff;
    outline: none;
  }
}

.notifications-tc {
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
}

.workspace .grid .item>span .info {
  width: auto;
  min-width: 185px;
  float: none;
  margin-top: 0;
  bottom: 0;
  position: absolute;
}

.workspace .grid .item>span .info>.fileInfo {
  min-height: 20px;
}

.workspace .item .image-container {
  width: 100%;
  float: left;
  display: block;
  height: 90px;
}
