#load-spinner {
    position: fixed;
    width: 55px;
    right: 0;
    left: 0;
    top: 250px;
    z-index: 9999;
    margin: 0 auto;
    text-align: center;
    img {
        margin-left: 117px;
    }
    .menu-collapse & img{
        margin-left: 0;
    }
}
