.fa-thumb-tack {
  &.selected {
    color: orange;
  }
}
.fa-lock.active {
  color: orange;
}
#page-body .panel.panel-main .panel-body a.document {
  margin-bottom: 10px;
}
#page-body .panel.panel-task-info .panel-body .button-group .btn {
  margin: 0 2.5px 0px;
}
