#page-body.page-info {
  background: #fff;
  border: none;
  border-bottom: 1px solid #BFDAE5;
  .panel-info {
    border: none;
  }
  .panel-content {
    padding: 0 15px;
  }
  .panel ul {
    margin: 0;
    padding: 0;
  }
}
