/* the tree node's style */
.input-group.tree-group {
  padding: 0;
}
.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
  overflow: hidden;
}
.tree-view_item {
  padding: .2em .4em;
  cursor: pointer;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icon {
  display: inline;
  padding-right: .4em;
  i {
    color: #04709b;
  }
}
.selectedDir {
  background: #04709b;
  color: #fff;
  padding: .4em .4em .4em 0;
  i {
    color: #fff;
    padding-left: .4em; 
  }
}

.publishedList {
  margin-top: 1.5em;
  ul {
    padding: 0;
    li {
      display: block;
      overflow: hidden;
      list-style-type: none;
      border: 1px solid #BFDAE5;
      padding: .4em;
      margin-bottom: .4em;
    }
  }
}
.panel-extra button:disabled {
  background-color: lightgrey;
  border: 1px solid lightgrey;

}
.published-actions button {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5px 12px;
  margin-right: 10px;
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}