.document-picker {
  button {
    min-height: 130px;
  }
  button p {
    line-height: 20px;
    font-size: 14px;
    min-height: 40px;
  }
}
.toolbar{
  button.selected {
    background-color: #E6E6E6;
  }
}
